/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f4f4f9;
}

/* Navbar styling */
.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hero section */
.hero {
  position: relative;
  color: black;
  text-align: center;
  padding: 3rem 1rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../assets/wfc-town.png");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}

.hero .title {
  font-size: 2.5rem;
  font-weight: bold;
}

.outline {
  text-shadow: -1px -1px 0 #ffffff, /* Top-left */ 1px -1px 0 #ffffff,
    /* Top-right */ -1px 1px 0 #ffffff, /* Bottom-left */ 1px 1px 0 #ffffff; /* Bottom-right */
}

.hero .subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* Content section */
.content {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.content h2 {
  color: #28313b;
  border-bottom: 2px solid #485461;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.content p,
.content ul {
  font-size: 1rem;
  margin: 1rem 0;
}

.content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.content li {
  margin-bottom: 0.5rem;
}

/* Footer styling */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer p {
  font-size: 0.9rem;
}
